@model IEnumerable<MedicalAppointmentApp.Persistance.Models.StatusModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StatusId)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatusName)</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="4">No status available.</td></tr>
        }
    </tbody>
</table>
